*{
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.993)0%, rgba(0, 0, 0, 0.883)100%);
    background-size: cover;
   
}

/* header .container{
    /* display: flex;
    justify-content: space-between; */
    


.avatar {
    vertical-align: middle;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    right: 5%;
  }



/* .sign-in{
    background-color: hsl(0, 100%, 50%);
    color: white;
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    
}
.sign-in:hover{
    background: hsl(0, 100%, 35%);
} */


/****************************** Cards ******************************************/


   

 .mb-3{
     border: none;
     color: white;
     text-align: center;  
     background: transparent;
     cursor: pointer;
     transition: .7s ease-in-out;
 }
 
 .mb-3:hover{
     transform: translateY(-15%);
 }
.card-body{
   background: transparent;
   cursor: pointer;
}

/* ********************************************footer************************************** */

footer{
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.993)0%, rgba(0, 0, 0, 0.883)100%);
    width: 100%;
    padding: 5rem 0;
   
}

footer h4{
    margin-bottom: 2rem;
}

footer p{
    color: #ffffffb0;
    cursor: pointer;
}

footer .section{
    margin: 1rem 0;
}


/* ********************************* join us************************* */
.waiting{
    margin: 2rem 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input{
    padding: 15px 70px;
}

.me-2{
    width: 500px;
    height: 60px;
    border-radius: 0;
}

.btn-danger{
    width: 150px ;
    background-color: rgba(255, 0, 0, 0.876);
    margin-left: -.7rem;
    border-radius: 0%;
}
.btn-danger:hover{
    background:rgba(165, 0, 0, 0.938) ;
}

.waiting p{
    color: #c5c4c4;
}

.model-box.show{
    display: block;
}


/*88***************************Video Model ***********************************/

.model-box{
   
    width: 100%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
    /* background:  url(images/a.png);  */
    background-size: cover;
    z-index: 1;
    display: none;
    overflow-x: hidden;
    color: white;
}

.video .cancel{

    display: none;
}


/*88*************************** User  Model ***********************************/

.user{
    background-image: url(images/banner2.jpg);
    background-size: cover;
    width: 100%;
}

.card_user {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 20em;
    display: none;
    transition: all ease-in-out ;
    
}

.card_user:hover{

    transition: all ease-in-out ;

}





.card_user.show{
    display: block;
}

.upper {
    height: 7em;
}

.upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.user {
    position: relative
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px
}

.profile {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%
} 
